.wrapper {
  height: 100vh;
}
.main{
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 80vw;
  max-width: 1440px;
  min-height: 100vh ;
}